<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Become admin</title>
</head>
<body>
    <h1>Become an admin by entering the secret passcode</h1>

    <form action="/admin" method="POST">
        <input type="text" name="passcode" id="passcode" required>
        <button type="submit">Enter</button>
    </form>

    <% if (locals.errors) { %>
        <%- include("partials/errors.ejs", {errors: errors}) %>
    <% } %>
</body>
</html>